In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Food desert data

In [186]:
food_desert = pd.ExcelFile('../data/DataDownload2015.xlsx')

In [187]:
food_desert.sheet_names

['Read Me', 'Variable Lookup', 'Food Access Research Atlas']

In [ ]:
desert_data = food_desert.parse(2)

In [189]:
desert_data.head()

,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
CensusTract,,,,,,,,,,,,,,,,,,,,,
1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,0,...,221,1622,217,14,0,14,45,44,26,112
1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,0,...,214,888,1217,5,0,5,55,75,87,202
1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,0,...,439,2576,647,17,5,11,117,87,108,120
1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,0,...,904,4086,193,18,4,11,74,85,19,82
1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [190]:
desert_data.describe()

,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
count,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,...,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000
mean,0.757191,4237.285052,1601.837560,0.007082,109.619606,0.026961,0.126880,0.282115,0.111235,0.149168,...,552.645806,3068.089386,534.273702,201.392347,7.411246,40.242754,385.875618,692.764520,145.356239,207.022206
std,0.428783,1972.520112,732.106217,0.083855,442.922669,0.095494,0.332841,0.450032,0.314425,0.356257,...,352.988078,1804.353298,887.806852,435.085612,45.084789,181.024758,528.776237,1117.876349,230.201932,187.188807
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2883.750000,1102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,318.000000,1832.000000,42.000000,17.000000,0.000000,7.000000,83.000000,87.000000,37.000000,69.000000
50%,1.000000,4002.000000,1521.000000,0.000000,7.000000,0.001779,0.000000,0.000000,0.000000,0.000000,...,495.000000,2903.000000,158.000000,57.000000,1.000000,15.000000,184.000000,240.000000,84.000000,158.000000
75%,1.000000,5323.000000,2018.000000,0.000000,63.000000,0.015516,0.000000,1.000000,0.000000,0.000000,...,716.000000,4111.000000,606.000000,188.000000,5.000000,33.000000,446.000000,746.000000,172.000000,293.000000
max,1.000000,37452.000000,16043.000000,1.000000,19496.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,17271.000000,28983.000000,16804.000000,10485.000000,3491.000000,9009.000000,8839.000000,15420.000000,6176.000000,2152.000000

In [191]:
desert_data['LILATracts_halfAnd10'].sum()/len(desert_data['LILATracts_halfAnd10'])

0.28211462450592883

In [192]:
(desert_data['LILATracts_halfAnd10']==True).sum()

20556

### Health behavioral data

In [130]:
behav = pd.read_csv('../data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv',)

In [193]:
behav.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
TractFIPS,,,,,,,,,,,,,,,,,,,,,
1073000100,AL,Birmingham,107000,0107000-01073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(83.4, 86.6)",20.0,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)"
1073000300,AL,Birmingham,107000,0107000-01073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,"(81.9, 85.6)",20.6,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)"
1073000400,AL,Birmingham,107000,0107000-01073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,"(82.3, 86.8)",19.3,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)"
1073000500,AL,Birmingham,107000,0107000-01073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,"(82.1, 86.5)",21.8,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)"
1073000700,AL,Birmingham,107000,0107000-01073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,"(82.2, 87.1)",25.1,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)"

In [195]:
len(behav[behav['PlaceName']=='Chicago'])

794

### Consumer expenditure data

In [275]:
consumer = pd.read_csv('../data/food_consumer.csv')

In [276]:
consumer.columns=['Item', 'midwest_tot', '< 5000',
       '[5000,9999]', '[10000,14999]',
       '[15000,19999]', '[20000,29999]',
       '[30000,39999]', '[40000,49999]',
       '[50000,69999]', '>= 70,000']

In [277]:
consumer['Item']=['total_spend','food_home','food_out']

In [278]:
consumer.set_index("Item", inplace=True)

In [279]:
def convert_int(df):
    return df.apply(lambda x: int(x.replace(",","")))

In [280]:
consumer = consumer.apply(convert_int)

In [281]:
consumer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, total_spend to food_out
Data columns (total 10 columns):
midwest_tot      3 non-null int64
< 5000           3 non-null int64
[5000,9999]      3 non-null int64
[10000,14999]    3 non-null int64
[15000,19999]    3 non-null int64
[20000,29999]    3 non-null int64
[30000,39999]    3 non-null int64
[40000,49999]    3 non-null int64
[50000,69999]    3 non-null int64
>= 70,000        3 non-null int64
dtypes: int64(10)
memory usage: 264.0+ bytes

In [283]:
consumer

,midwest_tot,< 5000,"[5000,9999]","[10000,14999]","[15000,19999]","[20000,29999]","[30000,39999]","[40000,49999]","[50000,69999]",">= 70,000"
Item,,,,,,,,,,
total_spend,7157,3107,3600,3007,3886,4552,5119,6431,7215,10336
food_home,4028,1891,2078,2006,2537,2956,3098,3758,4056,5493
food_out,3130,1217,1523,1001,1350,1596,2021,2673,3158,4843

In [284]:
consumer.loc['food_home'] = consumer.loc['food_home']/consumer.loc['total_spend']

In [287]:
consumer.loc['food_out'] = consumer.loc['food_out']/consumer.loc['total_spend']

In [290]:
consumer.loc['food_out'].values + consumer.loc['food_home'].values

array([1.00013972, 1.00032185, 1.00027778, 1.        , 1.00025733,
       1.        , 1.        , 1.        , 0.9998614 , 1.        ])

In [291]:
consumer

,midwest_tot,< 5000,"[5000,9999]","[10000,14999]","[15000,19999]","[20000,29999]","[30000,39999]","[40000,49999]","[50000,69999]",">= 70,000"
Item,,,,,,,,,,
total_spend,7157.000000,3107.000000,3600.000000,3007.00000,3886.000000,4552.000000,5119.000000,6431.000000,7215.000000,10336.000000
food_home,0.562806,0.608626,0.577222,0.66711,0.652856,0.649385,0.605196,0.584357,0.562162,0.531443
food_out,0.437334,0.391696,0.423056,0.33289,0.347401,0.350615,0.394804,0.415643,0.437699,0.468557

In [3]:
grocery = pd.read_csv('../data/Grocery_Stores2013.csv')

In [19]:
grocery.head()

,STORE NAME,LICENSE ID,ACCOUNT NUMBER,SQUARE FEET,BUFFER SIZE,ADDRESS,ZIP CODE,COMMUNITY AREA NAME,COMMUNITY AREA,WARD,CENSUS TRACT,CENSUS BLOCK,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,200 LIQUORS,48663.0,17055.0,5000.0,B,204 E 47TH ST,60653,GRAND BOULEVARD,38,3,17031381500,1.703138e+14,1.178462e+06,1.873949e+06,41.809424,-87.620952,"(41.8094238941, -87.6209518020)"
1,3600 COMMISSARY,24279.0,9830.0,3800.0,B,3600 N LAKE SHORE DR,60613,LAKE VIEW,6,46,17031060900,1.703106e+14,1.171866e+06,1.924645e+06,41.948684,-87.643650,"(41.9486836744, -87.6436497585)"
2,4343 PETES FRESH MARKET,1336669.0,260303.0,57000.0,A,4343 S PULASKI RD,60632,ARCHER HEIGHTS,57,14,17031570100,1.703157e+14,1.150448e+06,1.875370e+06,41.813914,-87.723665,"(41.8139143113, -87.7236649419)"
3,4700 PETE'S FRESH MARKET,1243125.0,245519.0,45000.0,A,4700 S KEDZIE AVE,60632,BRIGHTON PARK,58,14,17031842800,1.703184e+14,1.155792e+06,1.873271e+06,41.808047,-87.704119,"(41.8080472717, -87.7041188223)"
4,5659 W. DIVERSEY,1575023.0,277375.0,4000.0,B,5659 W DIVERSEY AVE,60639,BELMONT CRAGIN,19,30,17031190602,1.703119e+14,1.137914e+06,1.918002e+06,41.931135,-87.768612,"(41.9311354035, -87.7686121306)"

In [14]:
def no_nums(string):
    new_str = ""
    for i in string:
        if not i.isdigit() and i != "#":
            new_str += i
    return new_str.strip()

In [16]:
stores = grocery['STORE NAME'].apply(lambda x: no_nums(x))

In [18]:
sorted(stores.unique())

['A & B FOOD MARKET INC',
 'A & G LIQUORS',
 'A & R FOOD MART',
 'AARAY GROCERY',
 'ADA FOODS',
 'ADAMS FOOD MART',
 'AL BAYAN GROCERY INC.',
 'ALDI',
 'ALDI FOODS',
 'ALDI FOODS -STORE',
 'ALDI FOODS STORE',
 'ALDI FOODS STORE B',
 'ALDI FOODS-STORE',
 'ALDI INC',
 'ALDI INC STORE',
 'ALDI INC.',
 "ALDI'S",
 "ALDI'S FOODS BELMONT",
 'ALL STAR FOOD & LIQUOR',
 "ALLA'S FOOD",
 'ALMUFLIHI FOOD & LIQUOR',
 'AM-PM FOOD MART & CELLULAR',
 'ANAR INC',
 'ANDYS FRUIT RANCH',
 'ARISTA FOODS',
 'ARMITAGE PRODUCE INC',
 'AROUND THE CLOCK',
 'ASHLAND FOOD AND LIQUORS',
 'ATHENS GROCERY',
 'AVENUE FOOD MAR INC',
 'AWAMI BAZAAR & ZABIHA MEAT',
 'B & H FOOD & GROCERY',
 'BARI',
 'BERBATE FRUIT MARKET',
 'BIG APPLE FINER FOODS INC',
 "BOB'S LIQUORS & GROCERIES",
 'BOCKWINKELS',
 'BOULEVARD FOOD & LIQUOR LLC',
 'BROADWAY SUPERMARKET',
 'BUDGET FINER FOODS',
 'BURNHAM PLAZA MART',
 'BUSY BEE SUPERMARKET',
 'BUY -N- SAVE',
 'Baltimore Food & Liquor',
 "CAESAR'S FOODS INC",
 'CALABRIA IMPORTS, INC.',
 'CALMA OPTIMAL DELI, INC.',
 'CARNICERIA DEL RIO',
 'CARNICERIA EL PORVENIR',
 'CARNICERIA GUANAJUATO',
 'CARNICERIA GUANJUATO',
 'CARNICERIA JIMENEZ',
 'CARNICERIA JIMENEZ INC',
 'CARNICERIA LA AZTECA',
 'CARNICERIA LA GLORIA',
 'CARNICERIA LA GLORIA NO. , INC.',
 'CARNICERIA LA HACIENDA, INC.',
 'CARNICERIA LA MEJOR PRODUCE, INC.',
 'CARNICERIA LA VILLA',
 'CARNICERIA RICARDO',
 'CARNICERIA&FRUTERIA EL MITOTE',
 'CENTRAL PARK FOODS INC',
 'CENTRO MARKET',
 'CERMAK PRODUCE',
 'CERMAK PRODUCE  LTD',
 'CERMAK PRODUCE NO.',
 'CHARLIES  SUPERMARKET INC.',
 'CHATHAM FOOD MARKET',
 'CHICAGO FOOD CORP',
 'CHICAGO GROCERS',
 'CHICAGO PRODUCE',
 'CICERO DELI INC.',
 'CITY GROCERY',
 'CLARENDON FOOD MART INC',
 'CLYBOURN MARKET',
 'COMMERCIAL GROCERY',
 'COMMISSARY',
 'CORCORANS PANTRY INC',
 'COTTAGE GROVE FOOD MART',
 'COUNTY FAIR FOODS',
 "CRESPO'S FOOD MART",
 "CUENCA'S BAKERY & GROCERIES",
 'CUPBOARD FOOD & LIQUOR',
 'Chicago Health - Maple Street',
 'D & A FOOD & LIQUOR',
 "DANNY'S FRESH MARKET",
 'DEVON MARKET',
 'DIA FOOD & LIQUOR',
 'DILILAH GROCERY',
 'DISCOUNT MEAT COMPANY',
 'DISCOUNT PANTRY CORPORATION',
 'DOLLAR & LINEN',
 'DOLLAR DEALS & UP',
 "DOMINICK'S",
 "DOMINICK'S  /",
 "DOMINICK'S /",
 "DOMINICK'S FINER FOODS - STORE",
 "DOMINICK'S Finer Foods, Inc.",
 'DOMINICKS',
 "Dominick's",
 'E.M. GROCERIES',
 'EDDIE & SON FOOD &LIQ.',
 "EDDIE'S FOOD MART",
 "EDDIE'S SUNSHINE FOOD & LIQUOR,  INC.",
 "EDDY'S FOOD MART",
 'EDGEWATER PRODUCE',
 'EL  PASEO  BORICUA',
 'EL BARRIO GROCERY',
 'EL MILAGRO',
 'EL YUNQUE FOOD & LIQUOR',
 "EMILIO'S PRODUCE",
 'EUROPA GALLERIA INC',
 'EXTRA VALUE FOOD & LIQUOR',
 'FAIRPLAY FINER FOOD',
 'FAIRPLAY FINER FOODS INC',
 'FAIRPLAY FOODS INC',
 'FAIRWAY FOOD',
 'FAMILY PRIDE',
 'FARM SUPER MARKET',
 'FIESTA SUPERMARCADO',
 'FIRST CHOICE MARKET',
 'FIVE STAR CERTIFIED INC',
 'FOOD  LESS',
 'FOOD  LESS MIDWEST',
 'FOOD BASKET',
 'FOODSMART',
 'FRESH BUY FOODS INC',
 'FRESH FARMS INTERNATIONAL',
 'FRESH MARKET PLACE',
 'FRUTERIA EL MERCADO',
 'FURTERIA EL SERRANITO',
 'Food  Less Midwest',
 'GAYTAN GROCERY STORE',
 'GEMELOS FOOD/ CHECK CASHING SERVICES',
 "GENE'S SAUSAGE SHOP & DELI INC",
 'GENES SAUSAGE SHOP AT DELI MEYER',
 "GILMART'S  FOOD & LIQUOR",
 'GOLDMORE FOOD',
 'GRAND FOOD MARKET',
 'GRAND PALACE SUPERMARKET, INC',
 'H & A FOOD MARKET, INC.',
 'H & Z GROCERY STORE',
 'HALAL MEAT & GROCERY',
 'HAPPY FOODS',
 'HARBOR MARKET',
 'HAREER FOOD & LIQUOR',
 'HARPER FOODS',
 'HARVESTIME FOODS',
 'HILLTOP LIQUORS MART',
 'HOA NOM CO',
 'HOLLYWOOD TOWER MKT',
 'HONG KONG MARKET',
 'HYDE PARK PRODUCE, LTD',
 'Hegewisch Fruit Market Inc.',
 'IMPERIAL TOWER MARKET',
 'INTERNATIONAL FOODS NW INC',
 'INTERNATIONAL SUPERMARKET INC',
 'J & A ORIENTAL FOOD MART',
 'J & J EUROPEAN DELI',
 'J AND P FINER FOODS',
 'J K & S FOOD & LIQUOR',
 'J R GROCERY STORE',
 'JAMAICA FOOD & LIQUOR INC',
 'JARDAN FOOD & LIQUOR',
 'JERUSALEM LIQUORS',
 'JEWEL FOOD  STORE',
 'JEWEL FOOD STORE',
 'JEWEL FOOD STORES',
 'JEWEL-OSCO',
 "JOE'S FOOD & LIQUOR",
 "JOE'S FOOD AND LIQUOR DEPOT",
 "JOLANTA'S INTERNATIONAL DELI",
 'JOSEPH FOOD MART',
 'K & K FOOD & LIQUOR',
 'K BUENA',
 'KAMDAR PLAZA INC',
 'KAPS FOODS',
 'KEY FOOD LIQUOR',
 'KHALIL FOOD & LIQUOR',
 'KING FOOD & LIQUOR',
 'KOL TUV KOSHER FOODS INC',
 "KORDIAN'S MARKET",
 'KRAKUS DELI,  INC',
 'Kan-Zaman Mart, Inc.',
 "L'APPETITO",
 'LA CASA DEL PUEBLO INC',
 'LA CIENEGA SUPER FOOD INC',
 'LA FERIA GROCERY',
 'LA GUERRERENSE',
 'LA INTERNATIONAL',
 'LA JALISCIENCE',
 'LA LOMA "CARNICERIA Y TAQUERIA"',
 'LA MERCED INC',
 'LA NUEVA IMAGEN GROCERY, INC.',
 'LA PERLA TAPATIA BAKERY',
 'LA PLAMA',
 'LA PROVIDENCIA FOOD MART',
 'LA UNICA FOOD MART, INC.',
 'LAKE VIEW FOODS INC',
 'LARAMIE BAKERY & DELI',
 'LATIN GROCERY & LIQUOR, INC',
 'LAWNDALE FOOD MARKET',
 'LEMEN SUN CORP.',
 'LINDO MICHOACAN',
 'LIQUORS',
 'LOGAN CERTIFIED FOODS CORP',
 'LORETO GROCERY',
 'LOS CUATRO HERMANOS GROCERY',
 'LOS POTRILLOS',
 'LOS SAUCES GROCERY',
 "LOUIS' GROCERIES",
 "LUCIANO'S GROCERY-TH ST",
 'LUX  FOOD & LIQUOR',
 'Laxi Liquor',
 'M & D VARIETY STORE',
 'M & J LIQUOR & GROCERY',
 "MA'S & PA'S GROCERY SNACK SHOP",
 'MACIAS PRODUCE INC.',
 'MAKOLA AFRICAN SUPERMARKET',
 "MANDY'S LIQUOR",
 "MARIANO'S FRESH MARKET",
 "MARIO 'S BUTCHER SHOP FD CNTR",
 'MARKET IN THE PARK',
 'MAYFAIR MARKET PLACE',
 'MAYFLOWER FOOD',
 'MEHRAB ZABIHA MEAT & TOBACCO',
 "MELISSA'S FOOD & LIQUORS INC",
 'MI MEXICO GROCERY',
 "MIARA'S CONT'L PASTRY DELI INC",
 "MICELI'S DELI & FOOD MART",
 'MICHAELS FRESH MARKET',
 'MID TOWN FOODS',
 'MINI MERCADO LA BETANIA',
 'MLB FOOD',
 'MOO & OINK INC',
 'MORELIA SUPERMARKET , INC.',
 'MORELIA SUPERMARKET, INC.',
 'MORGAN FOOD CORP LLC',
 'MOROLEON FOODS  INC.',
 'MORSE FOOD AND MEAT MARKET',
 'MOUNSEF INTERNATIONAL',
 "MR G'S FOOD & LIQUOR",
 'MUNCHIES ON LARRABEE',
 'MY RANCH, INC.',
 'Municipal Foods',
 'NANCE FOOD MART',
 'NANCY FOODS INC',
 'NATIONAL FRUIT STOP',
 'NAYAB MART',
 "NEIL'S FOOD",
 'NEW LA ESTRELLA FOODS INC.',
 'NEW POP-IN',
 'NICKEL LIQUOR & MINI MART INC',
 'NOOR MEAT',
 'NORTHWEST FOOD & LIQUOR',
 'Natural Country Deli',
 'OGIES FOOD, INC',
 'OHIO FOOD MART',
 'OLD WORLD MARKET',
 'OLIVE MOUNT MART',
 'ONE STOP',
 'ONE STOP FOOD & LIQUOR STORE',
 'ORIENTAL ASIA MARKET INC.',
 'ORLEANS MARKET',
 'OSAMA FOOD MART',
 'OUTLET KINGDOM',
 'P & I FOOD & LIQUOR INC.',
 'PAR BIRDIE FOODS',
 'PARK FOODS OF ST STREET,INC.',
 'PARK PACKING OF CHICAGO, INC.',
 'PARKSHORE MARKET LTD',
 'PATEL BROS',
 'PAULINA MARKET',
 'PAULINA SUPER MARKET INC',
 'PEORIA PACKING LTD',
 'PERSONAL LIQUORS INC',
 "PETE'S FRESH MARKET",
 "PETE'S FRESH SUPERMARKET",
 "PETE'S MARKET",
 "PETE'S MEAT & GROCERY",
 "PETE'S PRODUCE",
 'PETERSON FOOD MART',
 'PETES FRESH MARKET',
 'POLONIA FOOD MART',
 'POTASH BROS INC',
 'POTASH BROS. SUPERMARKET',
 'PRESTIGE LIQUORS',
 'PUERTO RICO FOOD & LIQUORS',
 'QUALITY FOOD ON  ST INC',
 'QUICK STOP FOOD MART',
 'QUINTESSENCE',
 'R & S DISCOUNT FOOD, WINE, & LIQUOR',
 'RAINBOW FINER FOOD & LIQUOR',
 'RAINBOW GROCERY',
 "RICH'S DELI & LIQUOR, INC",
 'RICHWELL MARKET',
 "RIGO'S GROCERY",
 'RIO GRANDE FRUIT MARKET, INC.',
 'RITE PRICE FOOD',
 'RIVERSIDE DELI',
 'RIVIERA FOODS',
 'RJ Liquors',
 'RODRIGUEZ FRUITS & VEGETABLE',
 'ROMAN BROS  INC',
 'ROSE-RIDGE FOODS',
 'ROYLA BLUE FOODS',
 'S & K FOOD & LIQUOR, INC.',
 'S & T PROVISION CO INC',
 'S HALSTED FOOD AND LIQUORS, INC.',
 'S L PANTRY & GRILL',
 'S. S. FOOD & LIQUOR',
 'SAFAH FOOD & LIQUOR INC',
 'SAHAR INTERNATIONAL SUPERMARKET',
 'SAM FOOD AND LIQUOR',
 'SANABEL GROCERY & BAKERY',
 'SAVE-A-LOT',
 'SAVEWAY FOOD',
 "SERRELLI'S FOODS",
 'SEVEN ELEVEN',
 'SEVEN NINE ELEVEN FOOD MART, INC.',
 'SHOP & SAVE MARKET',
 'SHOP WISE FOOD',
 'SOLID GOLD',
 'SOUTH SHORE FOOD MARKET INC.',
 "STANLEY'S",
 'STEVE FOOD & LIQUOR',
 'STOP & GO FOOD MART',
 'STRACK & VAN TIL',
 'SUN LIQUORS',
 'SUNRISE FOOD AND LIQUORS',
 'SUPER DOLLAR AND UP , INC.',
 'SUPER DOLLAR DISCOUNT',
 'SUPER FOOD & LIQUORS, INC.',
 'SUPER FURNITURE & FOOD MART',
 "SUPER JIM'S",
 'SUPER MAS MARKET',
 'SUPER MERCADO EL GUERRO',
 'SUPER MERCADO LA CHIQUITA',
 'SUPERIOR NUT & CANDY  CO.I INC.',
 'SUPERMARKET & TAQUERIA CARO',
 'SUPERMERCADO ALEX',
 'SUPERMERCADO CHAPALA',
 'SUPERMERCADO EL CUBANO INC',
 'SUPERMERCADO EL GUERO  INC',
 'SUPERMERCADO EL GUERO NO.',
 'SUPERMERCADO EL MEXICANO',
 "SUPERMERCADO GELA'S",
 'SUPERMERCADO GUADALAJARA',
 'SUPERMERCADO GUERRERO',
 'SUPERMERCADO LA CHIQUTIA',
 'SUPERMERCADO LA VILLA',
 'SUPERMERCADO TEPECOA GUERRERO',
 'SWEQI FOOD MART, INC.',
 'SZYMANSKI BROS, INC',
 'Save-A-Lot',
 'Supermercado Santos',
 'T & Z MEAT',
 'TAI NAM CORPORATION',
 'TAI WAH GROCERY',
 'THE CELLAR',
 'THE FISH KEG INC',
 'THE MARKET PLACE FOODSTORE',
 'THE NEIGHBORHOOD STORE',
 'THE PRODUCE CENTER',
 'THE WAREHOUSE',
 'THREE BROTHER',
 'THREE R FOOD',
 'THREE ROOSTERS, INC.',
 'THRIFTY FOOD',
 'TIERRA CALIENTE MARKET',
 "TONY'S FINER FOODS ENTERPRISES, INC.",
 "TRADER JOE'S",
 "TRADER JOE'S EAST",
 'TRATTORIA ISABELLA',
 'TREASURE ISLAND FOODS',
 'TREASURE ISLAND FOODS INC',
 'TWO BLUE FOODS INC',
 'The Unit',
 'Three Stars Liquors',
 'ULTRA FOODS',
 'VIET HOA PLAZA',
 'W & R FOOD & LIQUOR INC',
 'W K R B FOOD & LIQUOR',
 'W. DIVERSEY',
 'WALGREENS',
 "WALLY'S INTERNATIONAL MARKET",
 "WALLY'S MARKET INC",
 'WALMART',
 'WASHINGTON GROCERY',
 'WAY LOW DISCOUNT FOOD, INC.',
 'WEST HAVEN MARKET & GRILL',
 'WEST LAWN FOODS',
 'WHOLE FOODS MARKET',
 "WILLIAM'S PRODUCE",
 'WINDY CITY INC',
 'WORLD FRESH MARKET',
 'Z & S FOOD & LIQUOR',
 'ZEE DOLLAR AND FOOD',
 'ZIAD CERTIFIED FOODS']

In [7]:
healthy = pd.read_csv('../data/healthy.csv', header = None)
healthy_foods = list(healthy[0])

In [3]:
healthy_foods

['almond',
 'apple',
 'asparagus',
 'avocado',
 'banana',
 'bean',
 'beef',
 'blueberry',
 'broccoli',
 'carrot',
 'cauliflower',
 'celery',
 'cherry',
 'chicken',
 'corn',
 'egg',
 'eggplant',
 'fish',
 'kale',
 'kebab',
 'lamb',
 'lentils',
 'lettuce',
 'hummus',
 'mango',
 'meat',
 'melon',
 'milk',
 'mushroom',
 'omelet',
 'orange',
 'oats',
 'oatmeal',
 'grapes',
 'fruit',
 'vegetable',
 'peanut butter',
 'pork',
 'quinoa',
 'raspberry',
 'salami',
 'rice',
 'broccoli',
 'brussels sprouts',
 'spinach',
 'zucchini',
 'turkey',
 'yogurt',
 'bellpepper',
 'cucumber',
 'tofu']

In [4]:
unhealthy = pd.read_csv('../data/unhealthy.csv', header = None)
unhealthy_foods = list(unhealthy[0])

In [5]:
unhealthy_foods

['bacon',
 'bagel',
 'bread',
 'burger',
 'burrito',
 'butter',
 'cake',
 'candy',
 'caramel',
 'cheese',
 'cheeseburger',
 'cupcake',
 'chili',
 'chips',
 'chocolate',
 'cookie',
 'dessert',
 'donut',
 'frosting',
 'hamburger',
 'hotdog',
 'ice cream',
 'macaroni',
 'margarine',
 'mayonnaise',
 'muffin',
 'oil',
 'pancake',
 'pastry',
 'pasta',
 'pie',
 'pizza',
 'popcorn',
 'soda',
 'strudel',
 'sundae',
 'waffle',
 'sugar',
 'french fries',
 'lasagna',
 'cream cheese',
 'brownies',
 'cereal',
 'nutella',
 'quesadilla',
 'milkshake',
 'churro',
 'ramen',
 'fried chicken',
 'french toast']